.safe-area {
  --sat: env(safe-area-inset-top);
  --sab: env(safe-area-inset-bottom);
  --sar: env(safe-area-inset-right);
  --sal: env(safe-area-inset-left);
}

.safe-area-top {
  padding-top: var(--sat);
}

.safe-area-bottom {
  padding-bottom: var(--sab);
}

.safe-area-left {
  padding-left: var(--sal);
}

.safe-area-right {
  padding-right: var(--sar);
}
