.carousel-container {
  position: relative;
  margin-bottom: 1.25rem;
  width: calc(100% + 2.5rem);
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  height: 100%;
}

.carousel-container-landscape {
  position: relative;
  /* margin-bottom: 1.25rem; */
  /* width: calc(100%); */
  /* margin-left: -1.rem; */
  /* margin-right: -1.25rem; */
  /* margin-right: 1rem; */
}

/* React Slick 기본 슬라이더 스타일 재정의 */
.carousel-container .slick-slider {
  height: 100% !important; /* React Slick 기본값 덮어쓰기 */
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  flex: 1;
  display: flex;
}

.carousel-container .slick-list {
  height : 100% !important;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  flex:1;
  display: flex;
}

.carousel-container .slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
}

/* 옆 요소들이 가질 스타일 */
.carousel-container .slick-slide:not(.slick-center) .step-card {
  background: var(--text);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2); /* 0 2px 8px */
  opacity: 0.75;
  transform: scale(0.85);
}

.carousel { flex: 1; }

