body:has(.recipe-info) {
    overflow: hidden;
    height: 100vh;
    overscroll-behavior: none;
}

html:has(.recipe-info) {
    overflow: hidden;
    height: 100vh;
    overscroll-behavior: none;
}

.recipe-info {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.chevron-icon {
  transition: transform 0.3s ease;
  color: var(--muted);
}